<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Desk</ion-title>
  </ion-toolbar>
</ion-header>


<ion-list class = "ion-wrap" class = "ion-padding-bottom">
  <div class = "center">
  <ion-button [routerLink]="['/users']">Users</ion-button>
  </div>
  <div class = "center">
  <ion-button [routerLink]="['/teams']">Teams</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/map']">Geolocalization</ion-button>
  </div>
  <!--Boton sin funcionalidad de momento-->
  <div class = "center">
    <ion-button [routerLink]="['/requests']">Pending requests</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/configuration']">Profile configuration</ion-button>
  </div>
</ion-list>
